.navbar {
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    position: relative;
}

.navbar > .buttons {
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > .buttons > * {
    flex-grow: 1;
}

.navbar > .buttons > *:nth-child(3) {
    padding: 0 10px;
    font-family: SFProDisplay, sans-serif;
    font-size: 17px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    flex-shrink: 1;
}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-family: SFProDisplay, sans-serif;
    font-size: 17px;
    text-align: center;
    color: #68ca65;
    text-decoration: none;
}

.unilever-logo {
    margin: 35px auto;
    width: 108px;
    height: 119px;
}

.slogan {
    font-family: SFProDisplay, sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0.58px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 65px;
    text-transform: uppercase;
}

.background {
    position: absolute;
    width: 100%;
    height: 757px;
    background-position: -400px;
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/317-ted05427-eye.jpg?auto=format&bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-1.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1000&s=dac1f605b4f988cc5691a4811c4c920e);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background::after {
    content: '';
    left: 0;
    position: absolute;
    height: 757px;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.75);
}

.videoBlock::after {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.videoBlock {
    background: #000;
    width: 100%;
    overflow: hidden;
}

.front-container {
    position: relative;
    color: white;
    font-family: SFProDisplay, sans-serif;
    padding: 0 25px;
}

.step-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.34px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
}

.step-arrow {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.34px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
}

.code-input {
	margin: 0;
	border: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	background: none;
	line-height: 1;
	font-size: 20px;
    font-family: SFProDisplay, sans-serif;
    border-bottom: 2px solid #5ebe5b;
    color: white;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.34px;
    outline: none;
    width: 275px;
    text-align: center;
}

.code-input::placeholder {
	font-size: 20px;
    color: white;
    opacity: 0.9;
}

.submit {
    height: 55px;
    border-radius: 10px;
    background-color: #5ebe5b;
    border:none;
    color: white;
    font-family: inherit;
    width: 255px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.34px;
    text-align: center;
    margin-bottom: 20px;
    outline: 0;
}

.donate {
    max-width: 375px;
    height: 32px;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.24px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 60px;
}

.donate > a {
    font-weight: 500;
    color: #8ee17c;
    text-decoration: none;
}

.donate > p {
    margin: 0;
}

.info-block {
    max-width: 375px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    position: relative;
    padding-top: 40px;
    padding: 40px 25px 25px 20px;
    box-sizing: border-box;
}

.info-block > .facts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.info-block > .facts > .fact {
    padding: 2px;
}

.info-block > .facts > .fact > p:nth-child(1) {
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.29px;
    text-align: center;
    color: #000000;
    margin: 0 auto 7px auto;
}

.info-block > .facts > .fact > p:nth-child(2) {
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.22px;
    text-align: center;
    color: #676767;
    margin: 0 auto;
}

.trees-planted {
    width: 225px;
    height: 58px;
    font-family: SFProDisplay;
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.82px;
    text-align: center;
    color: #000000;
    margin: 0px auto 0 auto;
}

.info-block > .label {
    width: 225px;
    height: 20px;
    font-family: SFProDisplay;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.29px;
    text-align: center;
    color: #676767;
    margin: 0 auto 30px auto;
}

.info-block > .filler {
    height: 50px;
    width: 295px;
    background: rgba(255, 255, 255, 0);
    margin: 0 auto 20px auto;
}

.info-block > .goalMeter {
    position: relative;
    height: 32px;
    width: 100%;
    background: #adddab;
    border-radius: 4px;
    margin: 0 auto 10px auto;
    color: white;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;

}

.info-block > .goalMeter > .current {
    height: 100%;
    width: 0%;
    background: rgb(94, 190, 91);
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
}

.info-block > .goalMeter > span {
    font-family: SFProDisplay, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.info-block > .info {
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.21px;
    text-align: center;
    color: #676767;
    margin-bottom: 30px;
}

.info-block > .separator {
    width: 100%;
    height: 2px;
    background-color: #c2c2c2;
    margin-bottom: 30px;
}

.back-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.map-background {
    height: 700px;
    width: 100%;
    background-color: #e7e7e7;
}

.hero {
    position: relative;
    height: 723px;
}

.hero > .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;
}

.map-container {
    width: 100%;
    background-color: #e7e7e7;
    padding-top: 380px;
    padding-bottom: 40px;
}

.planters {
    height: 335px;
    width: 100%;
    background-color: #eeeeee;
    padding: 70px 15px;
    font-family: SFProDisplay, sans-serif;
    box-sizing: border-box;
}

.planters > .heading {
    width: 100%;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.36px;
    text-align: center;
    color: #000000;
    margin: 0 auto 30px auto;
    max-width: 375px;
}

.planters > .list {
    display: flex;
    flex-direction: row;
    max-width: 375px;
    margin: 0 auto;
}

.planters > .list > div {
    flex-grow: 1;
}

.planters .avatar {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #bbb;
    margin: 0 auto;
    margin-bottom: 10px;
}

.planters .name {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.26px;
    text-align: center;
    color: #000000;
    margin-top: 0;
    margin-bottom: 10px;
}

.planters .trees {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.41px;
    text-align: center;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}

.planters .label {
    opacity: 0.41;
    font-family: SFProDisplay;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.21px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}

.goals {
    background: white;
    padding: 70px 25px 70px 25px;
    box-sizing: border-box;
}

.goals > .heading {
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.36px;
    text-align: center;
    color: #000000;
    max-width: 375px;
    margin: 0 auto;
}

.goals > .list {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    max-width: 375px;
    margin: 0 auto;
}

.goals > .list > li {
    width: 80px;
    height: 80px;
    background: #bbb;
    list-style: none;
}

