.info-block {
    padding: 30px;
    max-width: 375px;
    margin: 0 auto;
}

.avatar {
    width: 150px;
    height: 150px;
    background-color: #eee;
    border-radius: 50%;
    margin: 0 auto;
    background-size: contain;
    margin-bottom: 10px;
}

.info-block > .name {
    text-transform: uppercase;
    font-family: SFProDisplay;
    font-size: 21px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.36px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
}

.badge {
    display: inline-block;
    border-radius: 5px;
    background-color: #5ebe5b;
    color: white;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: 600;
    padding: 1px 6px;
    margin-bottom: 5px;
}

.level-breakdown {
    font-family: SFProDisplay;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.22px;
    text-align: center;
    color: #676767;
}

.achivements-table {
    display: flex;
    padding: 30px 0;
}

.separator {
    height: 2px;
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 30px;
}

.tokens-block {

}

.tokens-count {
    display: inline-block;
    font-family: SFProDisplay;
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.82px;
    text-align: center;
    color: #000000;
    margin-right: 7.5px;
}

.tokens-add-button {
    display: inline-block;
    width: 36px;
    height: 36px;
    object-fit: contain;
    background-color: greenyellow;
    cursor: pointer;
    border-radius: 50%;
    background-image: url('https://cdn.zeplin.io/5d76628ea4678c188d2eb071/assets/3BA36B9F-97D1-4C5B-8B6A-A018689EA928.svg');
}

.balance {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.tokens-block > .label {
    font-family: SFProDisplay;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.29px;
    text-align: center;
    color: #676767;
}
