.selected {
    background-color: #68ca65;
}

li {
    list-style: none;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #d8d8d8;
    margin: 5px;
    border-radius: 4px;
}

ul {
    display: block;
    margin: 0 auto;
    padding: 0;
}
